
.container {
  margin-top: 50px;
  position: relative;
  width: 650px;
  height: 530px;
  background: black;
  border-radius: 50px;
}

.container .console {
  width: 250px;
  height: 250px;
  position: absolute;
  background: black;
  /* border: 1px solid #ffffff; */
  top: 50%;
  left: 50%;
  margin-left: -125px;
  margin-top: -125px;
}

.container .row{
  height: 265px;
  /* margin: 4px 0; */
}

.container .row .col-md-6 {
  text-align: center;
  border: 15px solid black;
}

.container .row .col-md-6.green{
  background-color: green;
  border-top-left-radius: 50px;
}

.container .row .col-md-6.red{
  background-color: red;
  border-top-right-radius: 50px;
}

.container .row .col-md-6.yellow{
  background-color: yellow;
  border-bottom-left-radius: 50px;
}

.container .row .col-md-6.blue{
  background-color: blue;
  border-bottom-right-radius: 50px;
}